h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Montserrat', sans-sans-serif;
}

a {
    font-family: 'Montserrat', sans-sans-serif;
}